@import url('https://fonts.googleapis.com/css?family=Exo+2:300,300i,400,600,600i,700&display=swap');

$color: #5a3921;

@import "searchform.scss";
@import "title.scss";


body{
  font-family: 'Exo 2', sans-serif;
}

.card{
  width: 500px;
  height: 300px;
  text-align: center;
  color:$color;
}

.card-body{
  letter-spacing: 2px;
  h5{
    margin-bottom: 15px;
  }
}
